#disclosures

  %p The NUKU Blog reflects the personal opinions, viewpoints and analyses of Carson Cole, and should not be regarded as a description of the advisory services or investment returns provided by NUKU Asset.

  %p The views reflected in the commentary are subject to change at any time without notice. Nothing on this website constitutes investment advice, performance data or any recommendation that any particular security, portfolio of securities, transaction or investment strategy is suitable for any specific person.

  %p Any mention of a particular security and related performance data is not a recommendation to buy or sell that security. NUKU Asset manages its clients’ accounts using a variety of investment techniques and strategies, which are not necessarily discussed in the commentary. Investments in securities involve the risk of loss. Past performance is no guarantee of future results.
