#articles
  - @posts.each do |post|

    .row
      .col-md-7
        %article
          %h1= link_to post.title, post
          %p
            = post.summary
            = link_to "Read more ...", post

          %p.date
            = post.date
