#privacy
  %h1 Privacy Policy

  %p NUKU does not disclose the personal or business information of its clients and website users to any other person, except as required to perform administrative or account servicing tasks (such as those provided by trustees, prime brokers or broker-dealers), and secures client information, whether in paper or electronic form, limiting access only to authorized persons.

  %p The information NUKU collects is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances: it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Use, or as otherwise required by law.

  %h2 Security
  %p The security of your information is important to us and we take our responsibility as a custodian of that information very seriously. All communications through our website are conducted through SSL, which is a form of encrypted communication. The url of our site will show “https” and in some browsers will show a symbol indicating that the connection is secure. We also encrypt your service password so that your password cannot be recovered, even by us.

  %p Please note that you are responsible for maintaining the confidentiality of your login ID and password, and that in order to ensure the security of your information and / or account, we will never ask you for your login password.

  %h2 Cookies
  %p A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site’s computers and stored on your computer’s hard drive.

  %p Cookies are required to use NUKU’s services.

  %p We use cookies to record current session information, but do not use permanent cookies. You are required to re-login to your NUKU account after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.

  %h2 Changes
  %p NUKU may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your NUKU account or by placing a prominent notice on our site.
