@import 'sass_variables';

body {
  font-family: $font-family;
}
a {
  color: #06c;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}
.navbar-dark {
  background-color: #000000;
}

#main-content {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.small {
  display: inline;
  font-size: 0.9em;
}
