@import 'sass_variables';

body {
  font-family: $font-family;
  background-color: #000000;
}

a {
  color: #06c;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

#content {
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 4em;
}

.small {
  display: inline;
  font-size: 0.9em;
}

.topic {
  display: inline-block;
  background-color: #eeeeee;
  padding: 0.3em 0.8em;
  color: #666;
  margin: 14px 0.8em 14px 0;
  font-size: .92em;
}
