@import 'sass_variables';

#banner {
  background-color: #222;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #ffffff;
  text-align: center;

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1rem;
  }
}

