%footer.d-print-none
  .container
    = link_to "NUKU.com", 'https://nuku.com'
    \|
    = link_to "Disclosures", disclosures_path
    \|
    = link_to "Privacy", "https://nuku.com/privacy-policy", target: '_blank'
    \|
    .small
      Copyright ©
      = Date.today.year
      NUKU Inc. All rights reserved.
